*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  cursor: url("./images/cursor.png"), auto;
}
.flexCenterColumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexCenterRow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Chrom, Safari, Edge, Opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"]{
  -moz-appearance: textfield;
}
.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
